<!-- Deposit in  Account Modal -->
<div role="dialog" class="modal" id="smart-modal-deposit-account" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Deposit Fund</h4>
         </div>
         <div class="modal-body">
            <form id="deposit_fund_form" role="form" action="/account_histories" method="post">
               <div class="row">
                  <div class="col-sm-12">
                   <div class="form-group prepend-icon">
                        <label for="Buy Share">Grant Name</label>
                        <input id="grant_name" class="form-control" type="text" placeholder="Grant Name" name="grant" required="true">
                        <span class="field-icon "><i class="icon-user"></i></span> 
                     </div>
                      <div class="form-group prepend-icon">
                        <label for="Buy Share">Date</label>
                        <input id="date" class="form-control" type="date" placeholder="Date" name="date" required="true">
                        <span class="field-icon "><i class="icon-calendar"></i></span> 
                     </div>
                      <div class="form-group prepend-icon">
                        <label for="Buy Share">Account</label>
                        <select class="form-control" id="account" name="account">
                        <option value="">Select Source</option>
                        <option value="Bank of AmericaXXX3">Bank of AmericaXXX3</option>
                        </select>
                        <span class="field-icon "><i class="icon-file"></i></span> 
                     </div>
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Market</label>
                        <input id="market" class="form-control" type="text" placeholder="Market" name="market" required="true">
                        <span class="field-icon "><i class="icon-archive"></i></span> 
                     </div>
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Deposit Amount</label>
                        <input id="deposit_amount" class="form-control" type="number" placeholder="Deposit Amount" name="amount" min="1" max="1000000" required="true">
                        <span class="field-icon "><i class="icon-credit-card"></i></span> 
                     </div>
                     <div class="form-group">
                        <button class="btn btn-primary btn-shadow btn-block "><i class="icon-chevron-sign-up"></i>  Submit </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>


<!-- Deposit Modal -->
<div role="dialog" class="modal" id="smart-modal-deposit" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Deposit Form</h4>
         </div>
         <div class="modal-body">
            <form id="deposit_form" role="form" action="/account_histories/deposit" method="post">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Deposit Amount</label>
                        <input id="deposit_amount" class="form-control" type="number" placeholder="Deposit Amount" name="amount" min="1" max="1000000" required="true">
                        <span class="field-icon "><i class="icon-credit-card"></i></span> 
                     </div>
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Source</label>
                          <select class="form-control" id="deposit_source" name="account" required="true">
                        <option value="">Select Source</option>
                         <option value="Bank of AmericaXXX3">Bank of AmericaXXX3</option>
                        </select>
                        <span class="field-icon "><i class="icon-file"></i></span>
                     </div>
                     <input type="hidden" name="id" id="deposit_id" value="">
                     <div class="form-group">
                        <button class="btn btn-primary btn-shadow btn-block "><i class="icon-chevron-sign-up"></i>  Deposit </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>



<!-- Withdraw Modal -->


<div role="dialog" class="modal" id="smart-modal-withdraw" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Withdrawl  Form</h4>
         </div>
         <div class="modal-body">
            <form id="withdraw_form" role="form" action="/account_histories/withdraw" method="post">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Withdrawl Amount</label>
                        <input id="withdraw_amount" class="form-control" type="number" placeholder="Withdraw Amount" name="amount" min="1" max="1000000" required="true">
                        <span class="field-icon"><i class="icon-credit-card"></i></span> 
                     </div>
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Source </label>
                        <select class="form-control" id="withdraw_source" name="account" required="true">
                        <option value="">Select Source</option>
                         <option value="Bank of AmericaXXX3">Bank of AmericaXXX3</option>
                        </select>
                        <span class="field-icon "><i class="icon-file"></i></span>
                     </div>
                     <input type="hidden" name="id" id="withdrawl_id" value="">
                     <div class="form-group">
                        <button class="btn btn-primary btn-shadow btn-block "><i class="icon-chevron-sign-up"></i>  Withdrawl </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>


<!-- pool modal -->
<div role="dialog" class="modal" id="smart-modal-pool" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Pool Form</h4>
         </div>
         <div class="modal-body">
            <form id="pool_form" role="form" action="/account_histories/pool" method="post">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Pool Amount</label>
                        <input id="pool_amount" class="form-control" type="number" placeholder="Pool Amount" name="amount" min="1" max="1000000" required="true">
                        <span class="field-icon "><i class="icon-credit-card"></i></span> 
                     </div>
                     <div class="form-group prepend-icon">
                        <label for="Buy Share">Investment Principal</label>
                        <select class="form-control" id="pool_source" name="account" required="true">
                        <option value="">Select Source</option>
                         <option value="Bank of AmericaXXX3">Bank of AmericaXXX3</option>
                        </select>
                        <span class="field-icon "><i class="icon-file"></i></span>
                        </div>
                        <input type="hidden" name="value" id="pool_value" value="">
                        <div class="form-group">
                        <button class="btn btn-primary btn-shadow btn-block "><i class="icon-chevron-sign-up"></i>  Pool </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>